<!DOCTYPE html>
<html ng-app="myapp">
<head>
	<title>AngularPPT</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

	<link rel="stylesheet" href="style.css">

</head>
<body ng-controller="ProductController">

<!-- this is where we start refactoring our CRUD from basicallyCRUD -->
<div class="container" ng-controller="SlidesController">

	<div class="row">
		
	<div class="col-md-6">
		<form ng-submit="addSlide()">
			<label>Title:</label><input type="text" ng-model="title" />
			<label>Content:</label></br>
			<textarea type="text" ng-model="content"></textarea>
			<button ng-click="addSlide()"><a href="#" class="btn">Submit</a></button>
			<button ng-click="updateSlide()"><a href="#" class="btn">Update</a></button>
		</form>
	</div>


	<div class="col-md-6">
		{{title}}
		</br></br>
		{{content}}
	</div>



	</div>
	

	<div class="row-2">



	<div class="col-md-8">
		<div>
			{{title}}
			</br>	</br>
			{{content}}
		</div>
	</div>


	<div class="col-md-2">
		<div ng-repeat="queue in slide">
			<ul>
				<li>
					{{queue.title}}
					
				</li>
				<li>
					<a href="#" class="btn btn-default" ng-click="editSlide(queue.id)">Edit</a>
				</li>

				<li>
					<a href="#" class="btn btn-default" ng-click="deleteSlide(queue.id)">Delete</a>
				</li>
					
			</ul>



		</div>
	</div>
		
	</div>
	
</div>




<table>
	<tr>
		<th>Id</th>
		<th>Name</th>
		<th>Amout</th>	
		<th>Delete</th>
		<th>Edit</th>
	</tr>
	<tr ng-repeat="product in productList">
		<td>{{product.id}}</td>
		<td>{{product.name}}</td>
		<td>{{product.amount}}</td>
		
		<td>
			<a href="#" ng-click="del(product.id)">Delete</a>
			<a href="#" ng-click="edit(product.id)">Edit</a>
		</td>
	
	</tr>
</table>
	
<h1>Product info</h1>
<table>
	<tr>
		<td>Id: </td>
		<td><input type="text" ng-model="id"></td>
	</tr>

	<tr>
		<td>Name: </td>
		<td><input type="text" ng-model="name"></td>
	</tr>

	<tr>
		<td>Amount: </td>
		<td><input type="text" ng-model="amount"></td>
	</tr>
</table>
<span><button ng-click="update()">Update</button></span>
<span><button ng-click="add()">Add</button></span>





<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
<script src="angular.js"></script>
<script src="app.js"></script>
</body>
</html>