.container {
	background-color: red;
}
.col-md-6 {
	border: solid;
	padding: 10px;
}
.row {
	margin: 10px;
}

li {
	list-style: none;
	display: inline-block;

}

.col-md-8{
	/*border: solid;*/
	width: 600px;
	height: 450px;
	box-shadow: 10px 10px 10px #888888;
}